*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height:60px;
    background-color: rgb(246, 245, 245);
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    
}
.Header .left h1{
    color: rgb(11, 11, 114);
}
.Header .right .icon{
    display: flex;
    justify-content: space-around;
}